src/main/resources/api/BookTicket.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:book="http://www.bmsmain.com/BookTicket/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookTicket" targetNamespace="http://www.bmsmain.com/BookTicket/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.bmsmain.com/BookTicket/">
      <xsd:element name="BookMovieTicket">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="MID" type="xsd:string" />
          	<xsd:element name="TID" type="xsd:string"></xsd:element>
          	<xsd:element name="Slot" type="xsd:string"></xsd:element>
          	<xsd:element name="Price" type="xsd:string"></xsd:element>
          	<xsd:element name="Count" type="xsd:string"></xsd:element>
          	<xsd:element name="Date" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BookMovieTicketResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="StatusCode" type="xsd:string"></xsd:element>
          	<xsd:element name="Description" type="xsd:string"></xsd:element>
          	<xsd:element name="BID" type="xsd:string" maxOccurs="1" minOccurs="0"/>
          	<xsd:element name="NoOfSeats" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="TotalPrice" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConfirmMovieTicket">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="BID" type="xsd:string"></xsd:element>
      			<xsd:element name="TotalPrice" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ConfirmMovieTicketResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="StatusCode" type="xsd:string"></xsd:element>
      			<xsd:element name="Description" type="xsd:string"></xsd:element>
      			<xsd:element name="TxID" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BookMovieTicketRequest">
    <wsdl:part element="book:BookMovieTicket" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="BookMovieTicketResponse">
    <wsdl:part element="book:BookMovieTicketResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ConfirmMovieTicketRequest">
  	<wsdl:part name="parameters" element="book:ConfirmMovieTicket"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConfirmMovieTicketResponse">
  	<wsdl:part name="parameters" element="book:ConfirmMovieTicketResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BookTicket">
    <wsdl:operation name="BookMovieTicket">
      <wsdl:input message="book:BookMovieTicketRequest"/>
      <wsdl:output message="book:BookMovieTicketResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="BookTicketSOAP" type="book:BookTicket">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="BookMovieTicket">
      <soap:operation soapAction="http://www.bmsmain.com/BookTicket/BookMovieTicket"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookTicket">
    <wsdl:port binding="book:BookTicketSOAP" name="BookTicket">
      <soap:address location="http://localhost:8081/order/bookticket"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
